DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=database_password

DB_HOST=localhost
DB_PREFIX=wp_

WP_ENV=development
WP_HOME=http://example.com
WP_SITEURL=${WP_HOME}/wp

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

# AWS keys to offload media to s3
DBI_AWS_ACCESS_KEY_ID=''
DBI_AWS_SECRET_ACCESS_KEY=''
S3_BUCKET_NAME=''

# Settings for WP Super Cache

## Absolute path to plugin install directory. Likely <...>/web/app/mu-plugins/wp-super-cache/
WPCACHEHOME=''

## Absolute path to actual cache directory. Likely <...>/web/app/cache/
CACHEPATH=''

## Relative URL to core WP directory. Aiming to point to the same files as WP_SITEURL. In production, likely to be `/wp/`.
WPCACHE_WPCORE_URL=''