files:
  /tmp/cron_jobs:
    mode: "000777"
    content: |
      # cron jobs can't access environment variables so the `.../web` web root directory is hardcoded. 
      0 9 * * * sudo /var/app/current/certbot-auto renew --debug --webroot --webroot-path /var/www/html/web --pre-hook "" --post-hook "" && sudo service httpd restart

container_commands:
  01_remove_old_cron_jobs:
    command: "crontab -r || exit 0"
  02_cronjobs:
    command: "crontab /tmp/cron_jobs"