# Default mod_rewrite config for Wordpress on the server. Prevents 404 errors on every new deploy.

files:
  /etc/httpd/conf.d/mod_rewrite-custom.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      <Directory "/var/www/html/web">
        # BEGIN WordPress
        <IfModule mod_rewrite.c>
          RewriteEngine On
          RewriteBase /
          RewriteRule ^index\.php$ - [L]
          RewriteCond %{REQUEST_FILENAME} !-f
          RewriteCond %{REQUEST_FILENAME} !-d
          RewriteRule . /index.php [L]
        </IfModule>
        # END Wordpress
      </Directory>